mixin post(p)
    .post-component
        .post-header
            a(class='post-title' href=`/post/${p.id}`) #{p.title}
            p.post-date=p.date
        h2.post-author=p.username
        p.post-body=p.body 