extends includes/layout
block content
    include includes/header
    include includes/post-component
    each detail in post
        +post(detail)



    //- .post-component
    //-     .post-header
    //-         a(class='post-title' href=`/post/${id}`) #{post.postTitle}
    //-         p.post-date #{post.post_date}
    //-     h2.post-author user id: #{post.authorId}
    //-     p.post-body #{post.postBody}